nav
    .top
        .avatar
        h1 Dean Kou
        p Web Designer & 
            br
            | Front End Developer
    .bottom
        ul.navigation
            li
                a(href="index.html") WEB WORKS
            li
                a(href="design.html") DESIGN
            li
                a(href="about.html") ABOUT

        ul.iconLink
            li
                a.icon 
            li
                a.icon 
            li
                a.icon 
        small © 2020 ・ Produced by Dean Kou