nav
    .avatar
    h1 Dean Kou
    p Web Designer & 
        br
        | Front End Developer
    ul
        li
            a WEB WORKS
        li
            a DESIGN
        li
            a ABOUT

    ul
        li
            a.iconLink 
        li
            a.iconLink 
        li
            a.iconLink 
    small © 2020 ・ Produced by Dean Kou