extend _layout.jade

block navbar
    include partials/navbar.jade

block content
    .mainContent.pt-5
        .container
            h1 DESIGN
            .row.mt-5
                .col
                    .card-columns
                        .card
                            img.card-img-top(src='https://picsum.photos/id/101/400/300', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/111/400/800', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/81/400/900', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/11/400/700', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/25/400/1200', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/66/400/1000', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        .card
                            img.card-img-top(src='https://picsum.photos/id/78/400/1300', alt='...')
                            .card-img-overlay
                                h3.card-title Ikebana
                        