extend _layout.jade

block navbar
    - var path = 'design.html'
    include partials/navbar.jade

block content
    #design.mainContent.py-5.px-4
        .container
            h1 #{menu.list[1].name}
            .row.mt-5
                .col
                    .card-columns
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_banner.png', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Sharing Kyoto Banner
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_coupon01.jpg', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Cafe coupon 01
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_coupon02.png', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Cafe coupon 02
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_ikebana.png', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Ikebana website
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_sumo.png', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Sumo website
                        .card.mb-4.js_zoomImage
                            img.card-img-top(src='../images/design_kyoMachi.png', alt='...')
                            .card-img-overlay
                                h3.h4.card-title Japanese hotel website
    .zoomBox
        .content
            img(src="../images/design_kyoMachi.png") 
        i.far.fa-times-circle                           
